h1 {
    text-align: center;
    color: white;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    padding-top: 40px;
    letter-spacing: .5em;

}

.container {
    height: 600px;
    background-color: rgba(255, 255, 255, .75);
    margin: 0 auto;
}


h2 {
    text-align: center;
    color: black;
    font-family: 'Playfair Display', serif;
    margin: 0 auto;
}

p {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 18pt;
}


ul {
    font-family: 'Playfair Display', serif;
    font-size: 18pt;
    list-style: none;
    text-align: left;
}

button {
    color: white;
    font-size: 18pt;
    width: 100%;
    background-color: black;
    font-family: 'Playfair Display', serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 10px;
    margin: 0 auto;
}

button:hover {
    color: black;
    background-color: white;
}

.spacer {
    position: relative;
    max-width: 60%;
    height: auto;
    margin: 0 auto;
}

#start-newgame {
    margin: 50px auto;
}